<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pindah()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
   <ion-item *ngFor="let dPOST of dataPost"> 
    <ion-avatar> <img src={{dPOST.avatar}}></ion-avatar>
        {{dPOST.first_name}}
        {{dPOST.last_name}}

    </ion-item>


  </ion-list>
</ion-content>